:root{
    --background: #0f0f0f;
    --text: #32ff32;
    --text-link: #92ddff;
    --secondary: #1f1f1f;
    --secondary-hover: #2f2f2f;
    --tertiary: #2f2f2f;
    --tertiary-hover: #3f3f3f;
    --quaternary: #3f3f3f;
    --quaternary-hover: #4f4f4f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--background);
    color: var(--text);
    padding-bottom: 128px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hidden{
    display: none !important;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header h1{
    color: var(--text);
    transition: none;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

a{
    color: var(--text-link);
}

header{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary);
}

header a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-decoration: none;
}


h1,h2, h3, h4,p{
    transition: color 0.75s ease-in-out;
}

p{
    margin-block: 8px;
}